/*
	Custom Css With Iqbal Nur W
	Ter gans
*/

/* Imported CSS */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
/* End Imported CSS*/


/* Default CSS*/
body{
	font-family: 'Nova Square', cursive;
	background-color: #fff;
	font-size: 17px;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

body {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  height: 100vh;
  overflow: hidden;
}

html,
body{
	height: 100%;
}

img{
	max-width: 100%;
	height: auto; 
}

p{
	line-height: 1.7;
	margin: 0;
	font-size: 16;	
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
	padding: 0;
}

input:focus;,
textarea:focus,
button:focus{
	outline: medium none; 
}

ul,
ol{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}
a:focus,
a:hover{
	text-decoration: none;
	transition: 0.5s;
}
.owl.corouse{
	margin: auto;
}

/* Navbar */
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 30px;
}


.navbar img{
	float: right;
	max-height: 40px; 
} 

.navbar ul li{
	padding-right: 20px;
}

.navbar li a{
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 800; 
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover{
	color: #05a1fd;
}
.navbar-top {
	padding-top: 20px;
	background-color: -webkit-rgba(0,0,0,0.75);
	background-color: -o-rgba(0,0,0,0.75);
	background-color: -moz-rgba(0,0,0,0.75);
	background-color: rgba(0,0,0,0.75);
}
/* End Navbar */

/*Home Css*/
.space {
  background: rgba(0,0,0,0.40) center / 200px 200px round;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.stars1 {
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(255, 255, 255, 0)	
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)	
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)	
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)	
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)	
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)	
    );
}
.stars2 {
  background-image:
    radial-gradient(
      1px 1px at 75px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

.stars3 {
  background-image:
    radial-gradient(
      1px 1px at 10px 10px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

@keyframes space {
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}

.stars1 {
  animation: space 180s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 25px 5px, 
      white, 
      rgba(0,0,0,0.40)
    ),
    radial-gradient(
      1px 1px at 50px 25px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 125px 20px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 50px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 15px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 110px 80px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
.stars2 {
  animation: space 240s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 75px 125px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 100px 75px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 199px 100px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 20px 50px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 100px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 5px 5px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}
.stars3{
  animation: space 300s ease-in-out infinite;
  background-image:
    radial-gradient(
      1px 1px at 10px 10px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1px 1px at 150px 150px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 60px 170px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      1.5px 1.5px at 175px 180px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2px 2px at 195px 95px, 
      white, 
      rgba(255, 255, 255, 0)
    ),
    radial-gradient(
      2.5px 2.5px at 95px 145px, 
      white, 
      rgba(255, 255, 255, 0)
    );
}

#home-intro-area .space  {
	/*background-color: rgba(0,0,0,0.40);*/
}

#home-intro-area .row{
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
	display: block;
  margin: 0 auto;
}

#home-intro-area .word {
  margin: auto;
  color: #fff;
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

/* Modal Login*/

.container {
  padding: 2rem 0rem;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
    
    .modal-content {
      padding: 1rem;
    }
  }
}

.modal-header {
  .close {
    margin-top: -1.5rem;
  }
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;  
}

.social-buttons {
  .btn {
    margin: 0 0.5rem 1rem;
  }
}

.signup-section {
  padding: 0.3rem 0rem;
}
/* End Modal Login*/

